@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial, sans-serif;
}

body {

  font-size: 14px;
  font-weight: 300;

  font-family: 'Roboto', sans-serif;
  line-height: 1.55;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  color: #ebebeb;
  background-color: #2b3e50;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mat-header-row {
  background: rgba(0, 0, 0, 0.12);
}

.mat-sidenav-content {
  min-height: 650px;
}

.sidenav-link a {
  color: #000;
}

.mat-table {
  background: rgba(0,0,0,.04);
  
  color: white;
}

mat-row:nth-child(even) {
    
    background: rgba(0,0,0,.04);
}

mat-row:nth-child(odd) {
  background: rgba(0,0,0,.06);
} 

.mat-paginator {
  
  background: rgba(0,0,0,.04);
  color: white;
}

mat-sort-header-button {
  color: #fff;
} 

.mat-header-cell{
  color: white;
}
.mat-cell {
  color: white;
}

.mat-paginator-icon {
  fill: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(52, 16, 130, 0.42);
}

.mat-drawer{
  background-color: #4e5a71;
}

.mat-drawer-container {
  background: #4e5a71;
  color: rgba(0,0,0,.87);
}

ul {
  list-style: none;
  margin: 0px;
}

p {
  color: #d09e13;
  font-size: 14px;
  line-height: 24px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 80px;
  background-color: transparent;

  text-align: center;
  line-height: 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}

#main-nav{
  width: 180px;
}

.navbar-brand {
  line-height: 80px;
  padding: 0px;
}

.navbar-nav > li > a {
  height: 42px;
  color: rgb(36, 34, 71) !important;
  font-size: 13px;
  font-weight: 300;
  text-shadow: none;
  line-height: 20px;
  padding: 0px;
  letter-spacing: 0.5px;
  margin-top: 80px;
}

.navbar-nav > li {
  margin-left: 5px;
}

.header.active .navbar-nav > li > a {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-shadow: none;
  color: #121212 !important;
}

.header.active {
  background-color: rgba(250, 250, 250, 0.98);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #fff !important;
  transition: all 0.5s;
}
.navbar-brand em {
  font-style: normal;
  color: #f7c552;
  font-size: 32px;
}
.header.active .navbar-brand {
  color: #121212 !important;
}
.header .navbar-brand {
  font-weight: 800;
}
.navbar-inverse {
  background-image: none;
  background-color: transparent;
}
.header .navbar {
  margin: 0;
  border: none;
}
.page-section {
  padding: 80px 0;
}
.navbar-inverse .navbar-toggle {
  margin-top: 22px;
  border-color: #f7c552;
  background-color: #f7c552;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #f7c552;
}
bootstrap.min.css: 5 .navbar-toggle {
  position: relative;
  padding: 9px 10px;
  margin-top: 15px !important;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
   float: left;
   margin-top: 45px;
  }
}
@media (max-width: 480px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.wrapper {
  text-align: center;
}

#contact-us {
  background-color: #596065;
  text-align: center;
  padding: 80px 0px;
}

#contact-us .section-heading h4 {
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

#contact-us .section-heading .line-dec {
  width: 270px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.5);
  margin: 20px auto 15px auto;
}

#contact-us .section-heading p {
  color: #fff;
  padding: 0px 33%;
}

#contact-us .pop-button {
  margin-top: 30px;
}

#contact input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact button {
  display: inline-block;
  background-color: #f7c552;
  font-size: 13px;
  padding: 12px 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
}


@media (max-width: 991px) {
  .baner-content .text-content p {
    padding: 0px 15%;
  }

  #about .service-item {
    margin-bottom: 80px;
  }

  #portfolio .section-heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #33c1cf;
    height: 505px;
    margin-left: -15px;
    padding-left: 0vh;
    margin-right: -15px;
    padding-right: 0vh;
    overflow: hidden;
  }

  #portfolio .section-heading .line-dec {
    margin: 20px auto 15px auto;
  }

  #portfolio .section-heading p {
    padding: 0px 20px;
  }

  .projects-holder {
    text-align: center;
    padding: 15px 0px;
  }

  #portfolio .project-item {
    margin: 15px 0px;
  }

  #blog .section-heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -15px;
    padding-left: 0vh;
    margin-right: -15px;
    padding-right: 0vh;
    overflow: hidden !important;
  }

  #blog .section-heading .line-dec {
    margin: 20px auto 15px auto;
  }

  #blog .section-heading p {
    padding: 0px 30px;
  }

  .tabs {
    padding: 0px 45px;
  }

  #first-tab-group {
    margin-bottom: 30px;
  }

  #contact-us .section-heading p {
    padding: 0px 10%;
  }
}

@media (max-width: 768px) {
  .baner-content .text-content p {
    padding: 0px 10%;
  }
  #main-nav {
    margin-left: -15px;
    margin-right: -15px;
    border-top: none;
    margin-top: 15px;
    background-color: rgba(250, 250, 250, 0.95);
  }

  .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .navbar-inverse .navbar-nav > li {
    margin-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar-inverse .navbar-nav > li:last-child {
    border-bottom: none;
  }

  .navbar-inverse .navbar-nav > li > a {
    font-family: 'Roboto', sans-serif !important;
    line-height: 55px;
    color: #343434 !important;
  }
}

.mat-elevation-z2 {
  padding: 10px;
}

