<body >
  
    <app-navigation ></app-navigation>
  
  <div class="parallax-content baner-content" id="home">
    <div class="container">
      <div style="padding-top: 45px; padding-bottom: 45px"
        fxLayout="column"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutGap="5px">
           
            <div fxLayout="row" fxLayoutGap="10px" style="padding: 85px;">
              <div fxFlex="100">
                <router-outlet></router-outlet>
              </div>
            </div>
      </div>
    </div>
  </div>
</body>
